.login {
  .ant-btn {
    margin-top: 0;
  }

  #normal_login {
    .ant-row:nth-child(3) {
      margin-bottom: 0;
    }
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-forgot {
    float: left;
  }

  .login-form-button {
    width: 100%;
  }

  .ant-btn {
    margin-top: 24px;
  }
}
.f-login{
  color: #40a9ff;
  cursor: pointer;
}